:root {
    /*FBLA*/   /*<-- Avoid using these generally, they are not color-pref dependent!*/
    --palette-FBLA-primary:   hsl(222, 85%, 27%);
    --palette-FBLA-secondary: hsl(220, 73%, 43%);
    --palette-FBLA-accent:    hsl(040, 91%, 53%);

    /*Background & General Content Sections*/
    --palette-canvas-background:  hsl(228, 100%, 4%);
    --palette-content-background: hsl(212, 100%, 6%);
    --palette-content-foreground: hsl(203, 100%, 9%);

    /*Text*/
    --palette-text-bold:  hsl(180, 100%, 82%);
    --palette-text-muted: hsl(195, 66%, 63%);

    /*Highlight & Border*/
    --palette-highlight: hsl(196, 100%, 30%);
    --palette-border:    hsl(200, 100%, 25%);

    /*Semantics*/
    --palette-danger:  hsl(8, 73%, 66%);
    --palette-success: hsl(154, 54%, 47%);
}

@media (prefers-color-scheme: light) {
    :root {
        /*Background & General Content Sections*/
        --palette-canvas-background:  hsl(192, 100%, 85%);
        --palette-content-background: hsl(182, 100%, 87%);
        --palette-content-foreground: hsl(180, 100%, 95%);

        /*Text*/
        --palette-text-bold:  hsl(226, 100%, 10%);
        --palette-text-muted: hsl(200, 100%, 25%);

        /*Highlight & Border*/
        --palette-highlight: hsl(180, 60%, 70%);
        --palette-border:    hsl(193, 100%, 37%);

        /*Semantics*/
        --palette-danger:  hsl(7, 55%, 41%);
        --palette-success: hsl(154, 100%, 24%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Apercu Pro", sans-serif;
    font-size: 1em;
    color: var(--palette-text-muted);
    background-color: var(--palette-canvas-background);
    & h1,
    & h2,
    & h3 {
        color: var(--palette-text-bold);
    }
}

main {
    height: 90vh;

    & > section#forms_content {
        width: 60vw;
        height: 80vh;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        /* Designing the data editing box*/
        & form {
            /*Technical and Sizing*/
            display: block;
            justify-self: center;
            max-width: 700px;
            width: 90%;
            padding: 5px;
            /*Background, Text, and Border*/
            background-color: var(--palette-content-background);
            border: 1px solid var(--palette-border);
            border-radius:  5px;

            & hr {
                background-color: var(--palette-FBLA-accent);
                border: none;
                border-radius: 5px;
                width: 50%;
                height: 1vh;
                margin-bottom: 1vh;
            }
        }

        & *#hide_delete_form_wrapper {
            width: 90%;

            & *.show_hide_switch {
                position: relative;
                left: 50%;
                color: var(--palette-border);
            }
        }

        & form#form_delete {
            width: 50%;
            display: none;
        }
    }

    & > section#data_content {

        width: 40vw;
        height: 80vh;
        display: flex;
        flex-direction: column;


        & > table {
            width: 90%;
            max-height: 100%;
            min-height: min-content;
            justify-self: center;
            background-color: var(--palette-content-background);
            border: 1px solid var(--palette-border);
            border-radius:  5px;
            padding: 5px;
            text-align: center;
            overflow-y: scroll;

            
            & td:first-child,
              th:first-child {text-align: left;}


            & > thead {
                font-weight: bold;
                text-decoration: underline;
                font-style: italic;
                color: var(--palette-text-bold);


                & th:nth-child(1) {width: 70%;}
                & th:nth-child(2) {width: 20%;}
                & th:nth-child(3) {width: 10%;}
            }

            & *.event_row {display: none;}

            & table {
                margin-left: 5%;
                margin-bottom: 5%;
                width: 85%;
                font-size: 0.8em;
                text-align: center;
                color: var(--palette-highlight);

                & th {
                    font-weight: bold;
                    text-decoration: underline;
                    font-style: italic;
                }

                & td:first-child,
                  th:first-child {text-align: left;}

                & th:nth-child(1) {width: 50%;}
                & th:nth-child(2) {width: 25%;}
                & th:nth-child(3) {width: 25%;}
            
                &:hover {
                    color: var(--palette-text-muted);
                }
            }
        }
    }
}

.splitport_even {
    display: flex;
    justify-content: space-evenly;
    & > * {
        width: 50%;
    }
}

.indent {
    margin-left: 5%;
}